body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  font-family: Verdana;
  Font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 50;
}

header image {
  position: absolute;
}

.logo {
  display: inline-flex;
  flex-flow: row wrap;
  color: MediumAquamarine;
  margin-left: 10px;
  align-items: center;
}

.nav {
  display: inline-block;
  flex-flow: row wrap;
}

/* Set's links black*/
a  {
  color: black;
}

.mainContainer {
  display: flex;
  position: relative;
  top: 70px;
  border: solid 1px;
  justify-content: center;
}

.column1 {
  border: solid 1px;
  width: 630px;
  margin: 40px 30px 0px 0px;
}

.column2 {
  border: solid 1px;
  width: 300px;
  margin: 40px 30px 0px 0px;
}

.column3 {
  border: solid 1px;
  width: 240px;
  margin: 40px 30px 0px 0px;
}

.story1 {
  border: solid 1px;
}

.story2 {
  border: solid 1px;
}

.story3 {
  border: solid 1px;
}

.story4 {
  border: solid 1px;
}

.story5 {
  border: solid 1px;
}

.newsBites {
  border: solid 1px;
}


.topheadline {
  border: solid 1px;
}

.subheadline {
  border: solid 1px;
}

ul {
  list-style: none;
  padding: 0;
}
